.dial1 {

}

.dial2 {

}

.dial3 {

}

.dial4 {

}

.dial5 {

}

.dial0 {

}

@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }

    .grid-divider > [class*='col-'] {
        position: static;
    }

    .grid-divider > [class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .col-padding {
        padding: 0 15px;
    }
}

.seatSelection {
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.seatsReceipt {
    text-align: right;
}

.seatNumber {
    display: inline;
    padding: 10px;
    background-color: #5c86eb;
    color: #FFF;
    border-radius: 5px;
    cursor: default;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
}

.seatRow {
    padding: 10px;
    min-width: 360px;
}

.seatSelected {
    background-color: lightgreen;
    color: black;
}

.seatUnavailable {
    background-color: gray;
}

.seatRowNumber {
    clear: none;
    display: inline;
}

.hidden {
    display: none;
}

.seatsAmount {
    max-width: 2em;
}

