<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>MyCinema - projekt Rafal Nazwalski</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet"></link>

    <link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"></link>

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">MyCinema</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Kontakt</a>
                </li>
                <li th:if="${isLoged == false}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Zaloguj</a>
                </li>
                <li th:if="${isLoged == true}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Moje konto</a>
                </li>
                <li th:if="${isLoged == true}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" th:text="${movie.title}">
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Strona główna</a>
        </li>
        <li class="breadcrumb-item active" th:text="${movie.title}"></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        th:src="@{'https://www.youtube.com/embed/' + ${movie.trailersUrl[0]} + '?rel=0'}"
                        allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Opis</h3>
            <p th:text="${movie.description}"></p>
            <h3 class="my-3">Szczegóły</h3>
            <ul>
                <li>Czas trwania: <b th:text="${movie.playTime}"></b></li>
                <li>Reżyseria: <b th:text="${movie.director}"></b></li>
                <li>Produkcja: <b th:text="${movie.production}"></b></li>
                <li>Gatunek: <b th:text="${movie.genres}"></b></li>
            </ul>
            <br></br>
            <a th:href="@{/reservation/{id}/(id=${movie.title})}" class="btn btn-primary btn-block">Zarezerwuj</a>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Inne trailery</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a class="popup-with-zoom-anim" href="#small-dialog">
                <img class="img-fluid" th:src="@{'https://img.youtube.com/vi/' + ${movie.trailersUrl[0]} + '/0.jpg'}"
                     alt=""></img>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a class="popup-with-zoom-anim" href="#small-dialog2">
                <img class="img-fluid" th:src="@{'https://img.youtube.com/vi/' + ${movie.trailersUrl[1]} + '/0.jpg'}"
                     alt=""></img>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a class="popup-with-zoom-anim" href="#small-dialog3">
                <img class="img-fluid" th:src="@{'https://img.youtube.com/vi/' + ${movie.trailersUrl[2]} + '/0.jpg'}"
                     alt=""></img>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a class="popup-with-zoom-anim" href="#small-dialog4">
                <img class="img-fluid" th:src="@{'https://img.youtube.com/vi/' + ${movie.trailersUrl[3]} + '/0.jpg'}"
                     alt=""></img>
            </a>
        </div>

        <div id="small-dialog" class="mfp-hide">
            <iframe th:src="@{'https://www.youtube.com/embed/' + ${movie.trailersUrl[0]} + '?rel=0'}" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
        </div>

        <div id="small-dialog2" class="mfp-hide">
            <iframe th:src="@{'https://www.youtube.com/embed/' + ${movie.trailersUrl[1]} + '?rel=0'}" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
        </div>

        <div id="small-dialog3" class="mfp-hide">
            <iframe th:src="@{'https://www.youtube.com/embed/' + ${movie.trailersUrl[2]} + '?rel=0'}" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
        </div>

        <div id="small-dialog4" class="mfp-hide">
            <iframe th:src="@{'https://www.youtube.com/embed/' + ${movie.trailersUrl[3]} + '?rel=0'}" frameborder="0"
                    allowfullscreen="allowfullscreen"></iframe>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Rafał Nazwalski 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
</script>

</body>

</html>
