<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>MyCinema - projekt Rafal Nazwalski</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet"></link>

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">MyCinema</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li th:if="${isLoged == false}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Zarejestruj</a>
                </li>
                <li th:if="${isLoged == false}" class="nav-item">
                    <a class="nav-link" th:href="@{/user}">Zaloguj</a>
                </li>
                <li th:if="${isLoged == true}" class="nav-item">
                    <a class="nav-link" th:href="@{/user}">Moje konto</a>
                </li>
                <li th:if="${isLoged == true}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/images/avengers.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Avengers: Infinity War (2016)</h3>
                    <p>Zarezerwuj bilet już teraz!</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/images/batmanVsSuperman.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Batman vs Superman: Dawn of Justice (2016)</h3>
                    <p>Zarezerwuj bilet już teraz!</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/images/justice-league-1170x757.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Justice League (2018)</h3>
                    <p>Zarezerwuj bilet już teraz!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">Witamy w naszym kinie MyCinema</h1>

    <br></br>

    <!-- Portfolio Section -->
    <h2>Aktualny repertuar</h2>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[0].id})}"><img class="card-img-top"
                                                                         th:src="${movies[0].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[0].id})}" th:text="${movies[0].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[0].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[0].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[1].id})}"><img class="card-img-top"
                                                                         th:src="${movies[1].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[1].id})}" th:text="${movies[1].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[1].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[1].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[2].id})}"><img class="card-img-top"
                                                                         th:src="${movies[2].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[2].id})}" th:text="${movies[2].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[2].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[2].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[3].id})}"><img class="card-img-top"
                                                                         th:src="${movies[3].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[3].id})}" th:text="${movies[3].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[3].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[3].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[4].id})}"><img class="card-img-top"
                                                                         th:src="${movies[4].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[4].id})}" th:text="${movies[4].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[4].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[4].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[5].id})}"><img class="card-img-top"
                                                                         th:src="${movies[5].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[5].id})}" th:text="${movies[5].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[5].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[5].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[6].id})}"><img class="card-img-top"
                                                                         th:src="${movies[6].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[6].id})}" th:text="${movies[6].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[6].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[6].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/detailed/{id}/(id=${movies[7].id})}"><img class="card-img-top"
                                                                         th:src="${movies[7].imagesUrl[0]}"
                                                                         alt=""></img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/detailed/{id}/(id=${movies[7].id})}" th:text="${movies[7].title}"></a>
                    </h4>
                    <p class="card-text" th:text="${movies[7].shortDescription}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/reservation/{id}/(id=${movies[7].title})}" class="btn btn-primary">Zarezerwuj</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->


    <hr></hr>

    <!-- Call to Action Section -->
    <div th:if="${isLoged == false}" class="row mb-4">
        <div class="col-md-8">
            <p>Jeśli nie posiadasz konta w serwisie, proszę je utworzyć. Posiadanie konta umożliwi anulowanie
                rezerwacji.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" th:href="@{/register}">Zarejestruj</a>
        </div>
    </div>


</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Rafał Nazwalski 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
