<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>MyCinema - projekt Rafal Nazwalski</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap3/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="/vendor/bootstrap3/css/modern-business.css" rel="stylesheet"></link>

    <!-- Include SmartWizard CSS -->
    <link href="/css/smart_wizard.css" rel="stylesheet" type="text/css"/>

    <!-- Optional SmartWizard theme -->
    <link href="/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link href="/vendor/bootstrap3/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>

    <!-- Custom css -->
    <link href="/css/custom.css" rel="stylesheet" type="text/css"></link>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container">

    <!-- SmartWizard html -->
    <div id="smartwizard">
        <ul>
            <li><a href="#step-1">Krok 1<br/>
                <small>Wybierz dzień</small>
            </a></li>
            <li><a href="#step-2">Krok 2<br/>
                <small>Wybierz godzinę</small>
            </a></li>
            <li><a href="#step-3">Krok 3<br/>
                <small>Wybierz miejsce</small>
            </a></li>
            <li><a href="#step-4">Koniec<br/>
                <small>Podsumowanie</small>
            </a></li>
        </ul>

        <div>
            <div id="step-1" class="">
                <div class="btn-group dial0" data-toggle="buttons">
                    <h3>Proszę wybierz dzień seansu:</h3>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option1" autocomplete="off"></input><span id="sp1"
                                                                                                         th:text="${days[0]}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option2" autocomplete="off"></input><span id="sp2"
                                                                                                         th:text="${days[1]}"></span>
                    </label>
                    <label class="btn  btn-primary btn-lg">
                        <input type="radio" name="options" id="option3" autocomplete="off"></input><span id="sp3"
                                                                                                         th:text="${days[2]}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option4" autocomplete="off"></input><span id="sp4"
                                                                                                         th:text="${days[3]}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option5" autocomplete="off"></input><span id="sp5"
                                                                                                         th:text="${days[4]}"></span>
                    </label>
                </div>
            </div>
            <div id="step-2" class="">
                <div class="btn-group dial1" data-toggle="buttons">
                    <h3>Proszę wybierz godzine seansu:</h3>
                    <label class="btn btn-primary btn-lg"
                           th:classappend="${daily[0].get(0).isAvailable()} ? enabled : disabled">
                        <input type="radio" name="options" id="option6" autocomplete="off"></input><span id="sp6"
                                                                                                         th:text="${daily[0].get(0).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg"
                           th:classappend="${daily[0].get(1).isAvailable()} ? enabled : disabled">
                        <input type="radio" name="options" id="option7" autocomplete="off"></input><span id="sp7"
                                                                                                         th:text="${daily[0].get(1).getPlayTime()}"></span>
                    </label>
                    <label class="btn  btn-primary btn-lg"
                           th:classappend="${daily[0].get(2).isAvailable()} ? enabled : disabled">
                        <input type="radio" name="options" id="option8" autocomplete="off"></input><span id="sp8"
                                                                                                         th:text="${daily[0].get(2).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg"
                           th:classappend="${daily[0].get(3).isAvailable()} ? enabled : disabled">
                        <input type="radio" name="options" id="option9" autocomplete="off"></input><span id="sp9"
                                                                                                         th:text="${daily[0].get(3).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg"
                           th:classappend="${daily[0].get(4).isAvailable()} ? enabled : disabled">
                        <input type="radio" name="options" id="option10" autocomplete="off"></input><span id="sp10"
                                                                                                          th:text="${daily[0].get(4).getPlayTime()}"></span>
                    </label>
                </div>

                <div class="btn-group dial2" data-toggle="buttons">
                    <h3>Proszę wybierz godzine seansu:</h3>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option11" autocomplete="off"></input><span id="sp11"
                                                                                                          th:text="${daily[1].get(0).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option12" autocomplete="off"></input><span id="sp12"
                                                                                                          th:text="${daily[1].get(1).getPlayTime()}"></span>
                    </label>
                    <label class="btn  btn-primary btn-lg">
                        <input type="radio" name="options" id="option13" autocomplete="off"></input><span id="sp13"
                                                                                                          th:text="${daily[1].get(2).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option14" autocomplete="off"></input><span id="sp14"
                                                                                                          th:text="${daily[1].get(3).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option15" autocomplete="off"></input><span id="sp15"
                                                                                                          th:text="${daily[1].get(4).getPlayTime()}"></span>
                    </label>
                </div>

                <div class="btn-group dial3" data-toggle="buttons">
                    <h3>Proszę wybierz godzine seansu:</h3>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option16" autocomplete="off"></input><span id="sp16"
                                                                                                          th:text="${daily[2].get(0).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option17" autocomplete="off"></input><span id="sp17"
                                                                                                          th:text="${daily[2].get(1).getPlayTime()}"></span>
                    </label>
                    <label class="btn  btn-primary btn-lg">
                        <input type="radio" name="options" id="option18" autocomplete="off"></input><span id="sp18"
                                                                                                          th:text="${daily[2].get(2).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option19" autocomplete="off"></input><span id="sp19"
                                                                                                          th:text="${daily[2].get(3).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option20" autocomplete="off"></input><span id="sp20"
                                                                                                          th:text="${daily[2].get(4).getPlayTime()}"></span>
                    </label>
                </div>

                <div class="btn-group dial4" data-toggle="buttons">
                    <h3>Proszę wybierz godzine seansu:</h3>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option21" autocomplete="off"></input><span id="sp21"
                                                                                                          th:text="${daily[3].get(0).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option22" autocomplete="off"></input><span id="sp22"
                                                                                                          th:text="${daily[3].get(1).getPlayTime()}"></span>
                    </label>
                    <label class="btn  btn-primary btn-lg">
                        <input type="radio" name="options" id="option23" autocomplete="off"></input><span id="sp23"
                                                                                                          th:text="${daily[3].get(2).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option24" autocomplete="off"></input><span id="sp24"
                                                                                                          th:text="${daily[3].get(3).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option25" autocomplete="off"></input><span id="sp25"
                                                                                                          th:text="${daily[3].get(4).getPlayTime()}"></span>
                    </label>
                </div>

                <div class="btn-group dial5" data-toggle="buttons">
                    <h3>Proszę wybierz godzine seansu:</h3>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option26" autocomplete="off"></input><span id="sp26"
                                                                                                          th:text="${daily[4].get(0).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option27" autocomplete="off"></input><span id="sp27"
                                                                                                          th:text="${daily[4].get(1).getPlayTime()}"></span>
                    </label>
                    <label class="btn  btn-primary btn-lg">
                        <input type="radio" name="options" id="option28" autocomplete="off"></input><span id="sp28"
                                                                                                          th:text="${daily[4].get(2).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option29" autocomplete="off"></input><span id="sp29"
                                                                                                          th:text="${daily[4].get(3).getPlayTime()}"></span>
                    </label>
                    <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option30" autocomplete="off"></input><span id="sp30"
                                                                                                          th:text="${daily[4].get(4).getPlayTime()}"></span>
                    </label>
                </div>
            </div>
            <div id="step-3" class="row">
                <br></br>
                <div class="container ">
                    <div class="row grid-divider">
                        <div class="col-sm-6 table-responsive">
                            <div class="col-padding">
                                <div class="">
                                    <div class=" ">
                                        <p class="">
                                            Wybierz
                                            <span class="freeSeats">proszę</span> miejsca.<br/> A następnie kontynuuj
                                            poprzez przycisk dalej.
                                        </p>
                                        <div class="seatsChart ">
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    A
                                                </div>
                                                <div id="A_1" title="" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber">1
                                                </div>
                                                <div id="A_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="A_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="A_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="A_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="A_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="A_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="A_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="A_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="A_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>


                                            </div>
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    B
                                                </div>
                                                <div id="B_1" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">1
                                                </div>
                                                <div id="B_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="B_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="B_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="B_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="B_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="B_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="B_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="B_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="B_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>
                                            </div>
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    C
                                                </div>
                                                <div id="C_1" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">1
                                                </div>
                                                <div id="C_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="C_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="C_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="C_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="C_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="C_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="C_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="C_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="C_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>
                                            </div>
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    D
                                                </div>
                                                <div id="D_1" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">1
                                                </div>
                                                <div id="D_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="D_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="D_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="D_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="D_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="D_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="D_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="D_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="D_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>
                                            </div>
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    E
                                                </div>
                                                <div id="E_1" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">1
                                                </div>
                                                <div id="E_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="E_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="E_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="E_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="E_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="E_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="E_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="E_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="E_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>
                                            </div>
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    F
                                                </div>
                                                <div id="F_1" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">1
                                                </div>
                                                <div id="F_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="F_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="F_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="F_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="F_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="F_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="F_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="F_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="F_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>
                                            </div>
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    G
                                                </div>
                                                <div id="G_1" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">1
                                                </div>
                                                <div id="G_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="G_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="G_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="G_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="G_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="G_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="G_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="G_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="G_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>
                                            </div>
                                            <div class="seatRow ">
                                                <div class="seatRowNumber">
                                                    H
                                                </div>
                                                <div id="H_1" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">1
                                                </div>
                                                <div id="H_2" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">2
                                                </div>
                                                <div id="H_3" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">3
                                                </div>
                                                <div id="H_4" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">4
                                                </div>
                                                <div id="H_5" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">5
                                                </div>
                                                <div id="H_6" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber  ">6
                                                </div>
                                                <div id="H_7" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">7
                                                </div>
                                                <div id="H_8" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">8
                                                </div>
                                                <div id="H_9" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">9
                                                </div>
                                                <div id="H_10" role="checkbox" value="20" aria-checked="false"
                                                     focusable="true" tabindex="-1" class=" seatNumber ">10
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-padding">
                                <div class="">
                                    <div class="seatsReceipt ">
                                        <p><strong>Wybrane miejsca: <span class="seatsAmount">0 </span></strong>
                                            <button id="btnClear" class="btn">Wyczyść</button>
                                        </p>
                                        <ul id="seatsList" class="nav nav-stacked"></ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="step-4" class="">
                <h2>Podsumowanie Twojego zamówienia</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">Szczegóły</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Email:</th>
                            <td><span id="sp32"></span></td>
                        </tr>
                        <tr>
                            <th>Nazwa filmu:</th>
                            <td><span id="sp31" th:text="${daily[0].get(0).getMovieTitle()}"></span></td>
                        </tr>
                        <tr>
                            <th>Dzień sensu:</th>
                            <td><span id="sp33"></span></td>
                        </tr>
                        <tr>
                            <th>Godzina seansu:</th>
                            <td><span id="sp34"></span></td>
                        </tr>
                        <tr>
                            <th>Miejsca:</th>
                            <td><span id="sp35"></span></td>
                        </tr>
                        <tr>
                            <th>Twój numer rezerwacji:</th>
                            <td><span id="sp36"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/vendor/bootstrap3/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap3/js/bootstrap.min.js"></script>

<!-- Custom Scripts -->
<!-- Include SmartWizard JavaScript source -->
<script type="text/javascript" src="/js/jquery.smartWizard.min.js"></script>

<script type="text/javascript" src="/js/myscripts.js"></script>


</body>

</html>
