<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>MyCinema - projekt Rafal Nazwalski</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet"></link>

    <link href="/css/fontawesome-all.min.css" rel="stylesheet"></link>


</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">MyCinema</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>

                <li th:if="${isLoged == true}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">


        <div class="col-md-12">
            <br></br>
            <h4>List twoich rezerwacji</h4>
            <br></br>
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>


                    <th>Data</th>
                    <th>Godzina</th>
                    <th>Tytuł filmu</th>
                    <th>Email</th>
                    <th>Miejsca</th>
                    <th>Usuń/Anuluj</th>
                    </thead>
                    <tbody>

                    <div th:if="${not #lists.isEmpty(res)}">
                        <tr th:each="r : ${res}">

                            <td th:text="${r.date}"></td>
                            <td th:text="${r.hour}"></td>
                            <td th:text="${r.movieTitle}"></td>
                            <td th:text="${r.userEmail}"></td>
                            <td th:text="${r.selectedSeats}"></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Usuń"><a
                                    class="btn btn-danger btn-xs" data-title="Usuń"
                                    th:href="@{/user/delete/{id}/(id=${r.id})}"><span
                                    class="far fa-trash-alt"></span></a></p></td>
                        </tr>
                    </div>


                    </tbody>

                </table>

                <div class="clearfix"></div>


            </div>

        </div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Rafał Nazwalski 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
